@{
    ViewBag.Title = "Newannouncement";
}
@using V5.DataContract.Configuration
<script type="text/javascript" src="../../Content/ckeditor/ckeditor.js"></script>
<script src="../../Scripts/Backstage/Configuration/Configuration.Page.js" type="text/javascript"></script>
<div id="modifyDetail">
</div>
<div id="AnnounceWindow" style="display: none">
    <div id="newContent" style="width: 780px; height: 50px;">
        <div style="margin-left: 20px; float: left">
            标题:
            <input type="text" class="k-textbox" style="width: 320px; margin-top: 5px;" value=""
                id="annName" />
        </div>
        <div style="margin-left: 20px; float: right">
            位置：
            <input type="text" class="k-textbox" style="width: 320px; margin-top: 5px;" value="最新公告" />
        </div>
    </div>
    <div id="" style="width: 780px; margin-bottom: 10px;">
        @* <input type="text" id="Ckeditannouncement" name="Ckeditannouncement" />*@
        <input type="text" id="Ckeditannouncement" />
        <script type="text/javascript">
          
        </script>
    </div>
    <script type="text/javascript">
       
    </script>
    <div style="padding-top: 10px;">
        <hr />
        <input type="button" value="确定" class="k-button" onclick="onClose()" style="margin-left: 330px;" />
        <input type="button" value="取消" class="k-button" onclick="onCancel()" style="margin-left: 10px;" />
    </div>
</div>
<div id="newAnnounce">
    @(Html.Kendo().Grid<Config_Page>()
          .Name("newannouncementGrid")
          .Columns(columns =>
          {
              columns.Bound(p => p.Name).Title("标题");
              columns.Bound(p => p.CreateTime).Title("创建时间").Format("{0:yyyy-MM-dd}");
              columns.Template(e => { }).ClientTemplate("<input type='button' class='k-button' value='编辑' onclick='ShowWindow(#=ID#)'/><input type='button' class='k-button' value='删除' onclick='deleteRow(#=ID#)'/>").Title("操作").HtmlAttributes(new { Style = "algin:center" }).Width(170);

          })
          .ToolBar(tool => tool.Template("<input type='button' class='k-button' value='添加' onclick='ShowWindow(-1)'/>"))
          .Editable(editable => editable.Mode(GridEditMode.PopUp))
          .Pageable()
          .Scrollable()
          .HtmlAttributes(new { style = "height:450px;" })
          .DataSource(dataSource => dataSource
              .Ajax()
              .PageSize(10)

              .Model(model => model.Id(p => p.ID))
              .Read(read => read.Action("Announcement", "Config"))
              .Update(update => update.Action("Action", "Controller"))
              .Create(create => create.Action("InserNewAnnouncetContent", "Config"))
              .Destroy(update => update.Action("DeleteRow", "Config"))
          ))
</div>
<input type="hidden" id="hdIAnnId" value="" />
<input type="hidden" id="hdType" value="2" />
<input type="hidden" id="hdPid" value="29">