@{
    ViewBag.Title = "FindPassWord";
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>找回密码</title>
    <link type="image/x-icon" rel="shortcut icon" href="http://www.gjw.com/Images/favicon.ico">
    @Styles.Render("~/Content/login.css")
    @Styles.Render("~/Content/base.css")
    @Scripts.Render("~/Scripts/jquery-1.7.1.min.js")
    @Scripts.Render("~/Scripts/Login/FindPassword.js")
    <body>
        <div class="container">
            <div class="logo">
                <a title="购酒网" href="http://www.gjw.com/"></a>
            </div>
            <div class="main2 shadow">
                <h3>
                    找回密码</h3>
                <div class="zhmm">
                    <ul>
                        <li><span class="font14">账&nbsp;&nbsp;&nbsp;号:</span><span><input type="text" value="邮箱/已验证手机号"
                            id="userName" class="txt" name="" /></span><span id="validateMessage" class="validateMessage">请输入邮箱/已验证手机号</span></li>
                        <li><span class="font14">验证码:</span><span><input type="text" style="width: 100px;"
                            class="txt" id="validateCode" name=""></span> <span class="yzm">
                                <img src="" alt="" id="virificationImg" style="cursor: pointer;"></span>
                            <span>看不清？<a class="red" href="##" id="ChangeSecCode">换一张?</a></span> </li>
                        <li class="button2">
                            <input type="button" id="loginsubmit" /></li>
                    </ul>
                </div>
            </div>
            <div class="register">
                <a href="http://www.gjw.com/Login/Register"></a>
            </div>
            <div class="foot">
                <div>
                    <a title="关于我们" href="http://www.gjw.com/Home/Help/24.html">关于我们</a>|<a title="联系我们"
                        href="http://www.gjw.com/Home/Help/26.html">联系我们</a>|<a title="人才招聘" href="http://www.gjw.com/Home/Help/25.html">人才招聘</a>|<a
                            title="隐私声明" href="http://www.gjw.com/Home/Help/27.html">隐私声明</a>|<a title="帮助中心"
                                href="http://www.gjw.com/Home/Help/6.html">帮助中心</a>|<a title="友情链接" href="http://www.gjw.com/Home/Help/28.html">友情链接</a>
                </div>
                <div>
                    Copyright&copy;2009-2013 gjw.com, All Rights Reserved 上海购酒网电子商务有限公司 版权所有</div>
            </div>
        </div>
    </body>
</html>
