@model V5.Portal.Backstage.Models.Transact.Order.OrderCancelModel

@Html.ValidationSummary(true)
@using (Html.BeginForm("CancelOrder", "Transact"))
{
    <div >
        @Html.HiddenFor(model => model.OrderID)

        <div class="editor-label"  style="margin-left: 30px;padding-bottom: 10px;">
            订单编号：
            @Html.DisplayFor(model => model.OrderCode)
        </div>
    
        <div class="editor-field"  style="margin-left: 30px;padding-bottom: 10px;">
            取消原因：@Html.Kendo().DropDownListFor(model => model.OrderCancelCauseID).OptionLabel("请选择原因").DataSource(ds => ds.Read("QueryCancelCauses", "Transact")).DataValueField("ID").DataTextField("Cause")
        </div>
    
        <div class="editor-field"  style="margin-left: 30px;padding-bottom: 10px;">
            备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注：@Html.TextAreaFor(model=>model.Description)
        </div>

        <hr/>
        <div  style="margin-left: 30px;padding-bottom: 10px; float: right">
            <input class="k-button" type="button" value="提交" onclick="submitOrderCancel(0)"/>
            <input class="k-button" type="button" value="关闭" onclick="closeOrderCancelWindow()" />
        </div>
    </div>
}