<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Server=.;Database=goujiuwang;User Id=sa;Password=p@ssw0rd;"/>
  </connectionStrings>
  <appSettings>
    <add key="Corporation" value="www.gjw.com"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
