@charset "utf-8";
/* CSS Document */
.main {
width: 998px;
margin: 10px auto;;
border: 1px solid #bfbfbf;
overflow: hidden;
background: #fff;
box-shadow: 0 3px 3px #ccc;
}
.main h2 {
height: 40px;
line-height: 40px;
font-size: 18px;
color: #fff;
font-family: Microsoft Yahei;
text-indent: 15px;
background: #8e8e8e;
}
.user-info,.pay-info ,.invoice-info{width:958px;padding:20px;border-bottom:1px solid #ddd;overflow:hidden;}
.user-info .error-tip,.pay-info .error-tip,.invoice .error-tip{padding:3px 20px;background:url(http://images.lafaso.com/images/uinfo/msgico02.gif) no-repeat;color:red;}
.main .tit{display:block;height:34px;font-size:14px;color:#333; font-weight:bold}
.main .tit a{color:#0086cc;font-size:12px;padding:0 10px;font-weight:normal;}
.main .info{float:left;width:790px;margin:0 0 0 30px;line-height:24px;color:#333;}
.main .info dt{height:30px;}
.main .info dt a{color:#069;}
.main .info em{padding:0 0 0 30px;}
.alert-user-info,.alert-pay,.alert-invoice ,.invoice-fill{position:relative;padding:20px;background:#fff;border:2px solid #e03c3c;width:954px;overflow:hidden;}
.alert-user-info h3,.alert-pay h3{width:109px;font-size:14px;line-height:34px;font-weight:bold;text-align:right;color:#333;}
.alert-user-info h4,.alert-invoice h4{padding:4px 0;font-weight:bold;font-size:14px;}
.alert-user-info h4 img{display:inline-block;margin:0 5px 0 0; }
.selected {
    background-color: rgb(254, 246, 216)
}
.selpath { margin:0 0 10px;}
.selpath p {
position: relative;
height: 34px;
line-height: 34px;
overflow: hidden;
padding: 0 20px 0 24px;
margin: 0 10px;
}
.selpath p em {float: right;margin: 0 10px;color: #0086cc; font-weight:normal}
.radio {
position: relative;
top: 2px;
left: 2px;
margin: 0 5px 0 0;
}
.tips_w{ padding-left:20px;}

.alert-user-input p.error {
clear: both;
color: #FF5050;
line-height: 20px;
overflow: hidden;
padding-top: 5px;
padding-left: 95px;
} 
.error{
    padding-left: 6px;
    color: #FF5050;
    line-height: 26px;
 }
.alert-user-input p, .alert-invoice p, .alert-pay p {
position: relative;
padding: 4px 0;
color: #666;
}
.alert-user-input p,.alert-invoice p,.alert-pay p{position:relative;padding:4px 0;color:#666;}
	.alert-user-input p input,.alert-invoice .text{width:180px;height:26px;margin:0 4px 0;background:#fff;border:1px solid #c6c6c6;line-height:26px;}
	.alert-user-input p input.default{width:auto;height:auto;position:relative;top:2px;margin:0 4px 0 10px;}
	.alert-user-input p b,.alert-invoice p b,.alert-pay p b{display:inline-block;width:90px;text-align:right;font-weight:normal;color:#707070;}
	.alert-user-input p textarea{display:block;width:300px;height:40px;background:#fff;border:1px solid #ccc;}
	.alert-user-input .input-path b{position:absolute;}
	.alert-user-input .input-path textarea,.alert-user-input .input-path span{margin:0 0 0 93px;}
		.entermail{margin:0 20px;color:#CC3298;}
	.alert-user-input p .phone1{width:100px;}
	.alert-user-input p .phone2{width:40px;}
	.alert-user-input p .phone3{width:100px;}
	.alert-user-input p .phone4{width:60px;}
	#zipcode{width:auto;}
	.alert-user-input p select{display:inline;margin:0 3px;padding:1px 0;background:#fff;border:1px solid #ccc;}
.alert-user-info .btn,.alert-invoice .btn,.alert-pay .btn ,.invoice-fill .btn{height:50px;padding:10px 100px 0;}
.alert-user-info .btn a,.alert-invoice .btn a,.alert-pay .btn a ,.invoice-fill .btn a{float:left;width:130px;height:30px;margin:0 10px 0 0;background:url(../images/order_btn_bg.png) no-repeat 0 -56px;line-height:30px;overflow:hidden;}
.alert-invoice .btn a.enter,.alert-pay .btn a.enter{background-position:0 -28px;}
.alert-user-info .btn a.enter ,.alert-pay .btn a.enter ,.invoice-fill .btn a.enter{background-position:0 0px;width:130px;height:30px; text-align:center; font-size:14px; color:#FFFFFF}
.alert-user-info .btn a.enter ,.invoice-fill .btn a.enter {background: url(../images/order_btn_bg.png) no-repeat;}
.alert-user-info .btn a.enter:hover ,.alert-pay .btn a.enter:hover ,.invoice-fill .btn a.enter:hover{width:130px;height:30px; text-decoration:none; background-position:0 -31px;  line-height:30px;overflow:hidden;}

.alert-user-info .close,.alert-invoice .close,.alert-pay .close{position:absolute;top:10px;right:10px;width:17px;height:17px;background-position:0 -179px;cursor:pointer;}
.alert-invoice{width:465px;}
.alert-invoice h4{padding:8px 20px;}
.alert-invoice h4 span{color:#666;font-size:12px;font-weight:normal;}
.alert-invoice .text{width:294px;}
.alert-pay{color:#666;}
.alert-pay p{height:19px;line-height:19px;padding:5px 0;overflow:hidden;}
.alert-pay p b{font-size:14px;color:#000;}
.alert-pay p em{display:inline-block;position:relative;z-index:1;width:236px;padding:0 0 0 50px;color:#000;}
.alert-pay p em label{cursor:pointer;}
.alert-pay p span{color:#999;}
.borderdashed{display:block;height:0;margin:8px 0;border-bottom:1px dashed #ccc;font-size:0;overflow:hidden;}
.alert-pay .pay-tit{height:30px;border-top:1px dashed #a9a9a9;margin:10px 0 0;padding:17px 0 0;}
.alert-pay .pay-tit span{padding:0 0 0 5px;color:#333;}
.alert-pay .pay-tit strong{color:red;font-weight:normal;}
	.alert-pay-float{display:none;position:absolute;*z-index:-1;top:76px;left:62px;width:157px;height:30px;background:#E3DAD5;border:1px solid #B69A85;border-right:none;}
	.alert-pay-floatc{display:none;position:absolute;top:76px;left:220px;width:665px;padding:4px 20px;background:#E3DAD5;border:1px solid #B69A85;}
	.alert-pay-floatc p{height:auto;}
	.alert-pay-floatc em{position:absolute;top:0;left:-1px;width:12px;height:30px;background:#E3DAD5;}
	.alert-pay-floatc img{display:inline-block;margin:0 5px;border:1px solid #ccc;line-height:24px;}
	#q0,#q1,#q2,#q3{display:none;}
	
.invoice-fill p{ height:19px;line-height:19px;padding:5px 0;overflow:hidden; margin-left:30px; }
.invoice-fill .invoice-cont{ clear:both; margin-left:50px; }
.invoice-fill .invoice-cont li{ line-height:30px;}
.invoice-fill .invoice-cont li .fp-input{ width:150px; height:26px;background:#fff;border:1px solid #c6c6c6;line-height:26px;}
.invoice-fill .invoice-cont li lable{ padding:0 10px;}

/******商品清单******/
.shopping-list{ clear:both;}
.inventory-tit {
height: 26px;
padding: 10px 20px;
font-size: 14px;
font-weight: bold;
}

.inventory{ padding:0 20px;}
.inventory thead td{ font-weight:bold}
.inventory td{ padding:5px 0; text-align:center}
.inventory .p-img{ width:50px; height:50px; border:#dedede solid 1px; float:left}
.inventory .p-img img{width:50px; height:50px;}
.inventory .p-name{ width:330px; padding-left:10px; float:left; text-align:left; padding-top:10px; }
.inventory .p-name a ,.inventory-tit a{ color:#0086cc}
.inventory tbody{ padding:5px 0; border-bottom:#dedede solid 1px;}
.inventory dl {float: right;width:400px;padding: 0 10px 0 0;text-align: right;line-height: 26px;}
.inventory dl dd{ width:370px; clear:both; float:right}
.inventory dl b{ text-align:right; display:block; width:260px; float:left;}
.inventory dl span{width:100px; display:block; float:left; text-align:left; margin-left:10px; }
/******使用代金券抵扣******/
.vipcoupon{clear:both;padding:0 20px 15px;overflow:hidden;}
.vipcoupon b{font-weight:normal;}
.vipcoupon h3{display:inline;float:left;font-size:14px;*width:180px;height:26px;line-height:26px;cursor:pointer;}
.vipcoupon h3 a{float:right;position:relative;top:5px;width:16px;height:16px;margin:0 10px;overflow:hidden;}
.vipcoupon h3 .up{background-position:-20px 0;}
.vipcoupon h3 a{background:url(http://img3.imglafaso.com/images/cart/cart_confirm_ico.png) no-repeat;}
	.coupon-cont{position:relative;width:906px;padding:10px 25px;background:rgb(254, 246, 216); border:#dcdcdc solid 1px;overflow:hidden;}
	.coupon-close{position:absolute;top:10px;right:10px;width:15px;height:15px;color:#0086cd;cursor:pointer;background:url(http://img3.imglafaso.com/images/cart/cart_confirm_ico.png) no-repeat -43px 0;}
.vipcoupon p{line-height:32px;height:32px;}
.vipcoupon p.ntip{color:#999;}
.vipcoupon p i{cursor:pointer;color:#0086cc;font-style:normal;}
.vipcoupon .text{background:#fff;border:1px solid #c6c6c6;height:26px;line-height:26px;}
.vipcoupon .inp1{width:100px;}
.vipcoupon .yzbtn{display:inline-block;height:26px;margin:0 20px 0 0; color:#FFFFFF;padding:0 14px;border-radius:2px;line-height:28px;cursor:pointer;background:#df313c;overflow:hidden;vertical-align:middle;}
.vipcoupon .yzbtn:hover{text-decoration:none; background:#a70009}
.vipcoupon .pro{height:27px;line-height:27px;position:relative;left:-10px;top:3px;background:#fefecf;border:1px solid #f2da82;padding:0 10px;display:inline-block;}
.vipcoupon .tip,.vipcoupon .error{display:inline-block;padding:0 0 0 20px;background:url(http://img3.imglafaso.com/images/cart/cart_confirm_ico.png) no-repeat 0 -48px;}
.vipcoupon .error{background-position:-63px 9px;}
.vipcoupon p em,.vipcoupon a{color:#0086cd;cursor:pointer;}
.pct90 {
width: 650px;
}
.textarea {
padding: 5px;
border: 1px solid #7E9DB9;
}
.totle{ height:46px; background:#f5f5f5; line-height:46px;}
.totle span { display:block; float:right;  }
.totle-pay{ padding-right:20px; font-size:14px; font-weight:bold  }
.totle-btn{ width:135px; height:46px; line-height:46px; font-size:20px; font-family:"微软雅黑"; text-align:center; }
.totle-btn a{ width:135px; height:46px; display:block; background:url(../images/qrbtn_bg.jpg) repeat-x; color:#FFFFFF}