@{
    Layout = null;
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>公告</title>
    <link href="../../Content/Utility/main.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        function changetoen() {
            document.getElementById("main").style.display = 'block';
            $(".zh").hide();
        }
        function changetozh() {
            $(".zh").show();
            document.getElementById("main").style.display = 'none';
        }
</script>
</head>
<body>
    <div id="main">
        <header id="header">
      <h1><span class="icon">!</span>页面正在建设中......<span class="sub"></span></h1>
    </header>
        <div id="content">
            <h2>
                购酒网提醒您：此页面正在建设，暂不开放，给您带来不便，请谅解！</h2>
            <p>
            </p>
            <div class="utilities">
                <a class="button right" href="@V5.Portal.Common.ConstantParams.IndexUrl" onclick="history.go(-1);return true;">返回首页</a><a
                    class="button right" href="#">联系我们</a>
                <div class="clear">
                </div>
            </div>
        </div>
        <div id="footer">
        </div>
    </div>
    <!-- zh -->
    <div id="main" class="zh" style="display: none">
        <header id="header">
      <h1><span class="icon">!</span>404<span class="sub">页面未找到</span></h1>
    </header>
        <div id="content">
            <h2>
                <br>
                您所请求的页面无法找到</h2>
            <p>
                服务器无法正常提供信息。<br>
                目标页面可能已经被更改、删除或移到其他位置，或您所输入页面地址错误。</p>
            <div class="utilities">
                <form>
                <div class="input-container">
                    <input type="text" class="left" id="search" placeholder="搜索..." />
                    <button id="search">
                    </button>
                </div>
                </form>
                <a class="button right" href="#" onclick="history.go(-1);return true;">返回...</a><a
                    class="button right" href="#">联系我们</a>
                <div class="clear">
                </div>
            </div>
        </div>
    </div>
</div>
</html>
