<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>404,您访问的页面不存在_购酒网官方网站</title>
    <meta name="keywords" content="" />
    <meta name="description" content="购酒网是全国领先的酒类网络购物平台，产品涵盖了白酒、葡萄酒、洋酒、保健品酒等10万种以上商品，更拥有茅台、五粮液、洋河、王朝等数百种品牌授权。货到付款，支持全国8000个城市和地区(可POS机刷卡)，24小时发货。" />
    <meta http-equiv="refresh" content="3; url=/index.htm">
    <style type="text/css">
        .web404
        {
            margin: 50px 130px 50px 130px;
            text-align: center;
            height: 195px;
            width: 696px;
        }
        .web404 .bt
        {
            height: 20px;
            width: 375px;
            float: left;
            margin-left: 315px;
            margin-top: 165px;
        }
        .web404 .bt h1 a:hover
        {
            color: #f72020;
            text-decoration: none;
        }
        .web404 .bt h1 {
       font-family: 微软雅黑;
       font-size: 14px;
             }
        .page, .header, .content, .footer, .footer_1220
        {
            margin-left: auto;
            margin-right: auto;
        }
        .w960
        {
       
            width: 960px;
        }
        .fix{*zoom:1;}
    </style>
</head>
<body>
    <div class="content w960 fix">
        <div class="web404" style="background-image: url(../../Content/Utility/bg.jpg)">
            <div class="bt">
                <h1>
                    <a href="/Home/Index">回到首页</a> <a href="##">白酒</a> <a href="##">葡萄酒</a> <a href="##">
                        洋酒</a> <a href="##">保健酒与啤酒</a>
                </h1>
            </div>
        </div>
    </div>
</body>
</html>
