@{
    ViewBag.Title = "pomote";
}
<script src="../../Scripts/Info/answer.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $("#container").Answer();
    });
</script>
<h2>
    pomote</h2>
<div class="aq" id="container">
</div>
<input type="button" value="提交" id="submit" />
