.msgbox_layout,
.msgbox_layout .icon_ok,
.msgbox_layout .icon_no,
.msgbox_layout .icon_warn,
.msgbox_layout .icon_clear,
.msgbox_layout .icon_end {
    display: inline-block;
    height: 54px;
    line-height: 54px;
    font-weight: bold;
    font-size: 14px;
    color: #606060;
    background-image: url("../../Images/gb_tip_layer.png");
    _background-image: url("../../Images/gb_tip_layer_ie6.png");
    background-repeat: no-repeat;
}

.msgbox_layout_wrap {
    width: 100%;
    position: fixed;
    _position: absolute;
    top: 46%;
    left: 0;
    text-align: center;
    z-index: 65533;
    overflow: hidden;
    _height: 54px;
}

.msgbox_layout {
    background-position: 0 -161px;
    background-repeat: repeat-x;
    padding: 0 18px 0 9px;
    margin: 0 auto;
    position: relative;
}

.msgbox_layout .icon_ok {
    background-position: -6px 0;
    left: -45px;
    top: 0;
    width: 45px;
    position: absolute;
}

.msgbox_layout .icon_end {
    background-position: 0 0;
    position: absolute;
    right: -6px;
    top: 0;
    width: 6px;
}

.msgbox_layout .icon_no {
    background-position: -6px -108px;
    position: absolute;
    left: -45px;
    top: 0;
    width: 45px;
}

.msgbox_layout .icon_warn {
    background-position: -6px -54px;
    position: absolute;
    left: -45px;
    top: 0;
    width: 45px;
}

.msgbox_layout .icon_clear {
    background-position: -6px 0;
    left: -5px;
    width: 5px;
    position: absolute;
    top: 0;
}

.msgbox_layout img {
    float: left;
    margin: 19px 10px 0 5px;
}