@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SystemTools</title>
</head>
<body>
    <div>
        <a href="/Tools/RefreshMongoDB" >刷新MongoDB</a>
    </div>
</body>
</html>
