@{
    ViewBag.Title = "我的积分";
}
<link href="../../Content/user.css" rel="stylesheet" type="text/css" />
<style type="text/css">
    .uc_order .msg{ cursor:default; text-align:center; color:#ff5f3e; display:block;}
</style>
<div class="uc_container">
    <div class="uc">
    @Html.Partial("UserMenu")
    <div class="uc_right">
        <dl class="uc_right_item uc_order">
            <dt class="uc_order_top">我的积分<a href="###">当前积分:10分</a></dt>
            <dd>
                <table>
                    <thead>
                        <tr>        
                            <td style="width:20%;">时间</td>       
                            <td style="width:10%;">获取</td>
                            <td style="width:10%;">消耗</td>
                            <td style="width:60%;">详细</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>                                              
                            <td><div class="date">2014-1-12 12:56:45</div></td>
                            <td><label class="msg">10</label></td>
                            <td><label class="msg"></label></td>
                            <td>每日登录，获取10积分</td>
                        </tr>
                        <tr>                                              
                            <td><div class="date">2014-1-12 12:56:45</div></td>
                            <td><label class="msg"></label></td>
                            <td><label class="msg">-10</label></td>
                            <td>积分换购</td>
                        </tr>
                        <tr>                                              
                            <td><div class="date">2014-1-12 12:56:45</div></td>
                            <td><label class="msg">10</label></td>
                            <td><label class="msg"></label></td>
                            <td>每日登录，获取10积分</td>
                        </tr>
                        <tr>                                              
                            <td><div class="date">2014-1-12 12:56:45</div></td>
                            <td><label class="msg">10</label></td>
                            <td><label class="msg"></label></td>
                            <td>每日登录，获取10积分</td>
                        </tr>
                        <tr>                                              
                            <td><div class="date">2014-1-12 12:56:45</div></td>
                            <td><label class="msg">10</label></td>
                            <td><label class="msg"></label></td>
                            <td>每日登录，获取10积分</td>
                        </tr>
                        <tr>                                              
                            <td><div class="date">2014-1-12 12:56:45</div></td>
                            <td><label class="msg">10</label></td>
                            <td><label class="msg"></label></td>
                            <td>每日登录，获取10积分</td>
                        </tr>
                        <tr>                                              
                            <td><div class="date">2014-1-12 12:56:45</div></td>
                            <td><label class="msg"></label></td>
                            <td><label class="msg">-10</label></td>
                            <td>积分换购</td>
                        </tr>
                        <tr>                                              
                            <td><div class="date">2014-1-12 12:56:45</div></td>
                            <td><label class="msg">10</label></td>
                            <td><label class="msg"></label></td>
                            <td>每日登录，获取10积分</td>
                        </tr>
                        <tr>                                              
                            <td><div class="date">2014-1-12 12:56:45</div></td>
                            <td><label class="msg"></label></td>
                            <td><label class="msg">-10</label></td>
                            <td>积分换购</td>
                        </tr>
                        <tr>                                              
                            <td><div class="date">2014-1-12 12:56:45</div></td>
                            <td><label class="msg">10</label></td>
                            <td><label class="msg"></label></td>
                            <td>每日登录，获取10积分</td>
                        </tr>
                        <tr>                                              
                            <td><div class="date">2014-1-12 12:56:45</div></td>
                            <td><label class="msg"></label></td>
                            <td><label class="msg">-10</label></td>
                            <td>积分换购</td>
                        </tr>
                        <tr>                                              
                            <td><div class="date">2014-1-12 12:56:45</div></td>
                            <td><label class="msg">10</label></td>
                            <td><label class="msg"></label></td>
                            <td>每日登录，获取10积分</td>
                        </tr>
                        <tr>                                              
                            <td><div class="date">2014-1-12 12:56:45</div></td>
                            <td><label class="msg"></label></td>
                            <td><label class="msg">-10</label></td>
                            <td>积分换购</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                <div style="position:relative;height:56px;">
                                    <div class="uc_page">
                                        <a href="###" class="prev">&lt;</a>
                                        <a href="###">1</a>
                                        <a href="###">2</a>
                                        <a href="###" class="curr">3</a>
                                        <a href="###">4</a>
                                        <a href="###">5</a>
                                        <a href="###" class="more">...</a>
                                        <a href="###">28</a>
                                        <a href="###">29</a>
                                        <a href="###">30</a>
                                        <a href="###" class="next">&gt;</a>
                                    </div>    
                                </div>                            
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </dd>
        </dl>        
    </div>
    <div class="clear"></div>
</div>
</div>
