<?xml version="1.0" encoding="utf-8" ?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
      <!-- V5 Connection -->
      <!-- <add name="ConnectionString" connectionString="Server=114.141.132.10\SQL2008;Database=goujiuwang_v5_new;User Id=sa;Password=p@ssw0rd;" /> -->
      <!--<add name="ConnectionString" connectionString="Server=192.168.2.80;Database=goujiuwang_v5_new4;User Id=sa;Password=p@ssw0rd;" />-->
      <add name="ConnectionString" connectionString="Server=192.168.2.140;Database=goujiuwang_v5_new2;User Id=sa;Password=123456;" />
      <!-- <add name="ConnectionString" connectionString="Server=192.168.2.200\SQL2005;Database=goujiuwang_v5;User Id=sa;Password=GJW@2013#yxmhj;" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- V5 Settings -->
    <add key="DataAccessAssemblyPath" value="V5.DataAccess" />
    <add key="MongoDbConnectionString" value="mongodb://192.168.2.80:27017"/>
    <add key="MongoDbName" value="Backstage_Dev"/>
    <!-- 邮件发送配置 -->
    <add key="SendEmailFrom" value="yao.feng@goujiuwang.com"/>
    <add key="SendEmailPassword" value="450311408fy"/>
    <add key="SendEmailServer" value="smtp.exmail.qq.com" />
    <!-- 系统日志配置 -->
    <add key="SystemLogLevel" value="1" />
    <!-- 网站服务器地址和图片服务器地址-->
    <add key="WebSiteUrl" value="http://192.168.2.200:8081"/>
    <!--<add key="WebSiteUrl" value="http://127.0.0.1:9414/"/>-->
    <add key="WebSiteLocalUrl" value="http://192.168.2.200:8081"/>
    <!--<add key="ImgSiteUrl" value="http://192.168.2.40:8088/"/>-->
    <add key="ImgSiteUrl" value="http://img0.gjw.com/"/>
    <!--不支持下单省/直辖市区域-->
    <add key="UnsupportRegion" value="[31][32][33][34]"/>

    <add key="UserCartLog" value="true"/>
    
    <!-- 刷新时间 -->
    <add key="RefreshTime" value="1"/>
    <!-- SEO相关信息 -->
    <!-- 首页 -->
    <add key="SEOTitleIndex" value="购酒网GJW.COM-酒水网购平台-正品低价、品质保障、货到付款、优质服务、轻松购物！"/>
    <add key="SEOKeywordsIndex" value="购酒网,网上买酒,购酒网站,买酒网"/>
    <add key="SEODescriptionIndex" value="购酒网GJW.COM是综合的网上购酒商城网站,提供白酒,红酒,葡萄酒,洋酒,黄酒,啤酒,保健酒各类酒的最新价格,网上购买,评价等信息,真品保障,货到付款,支持全国8000个城市和地区(可POS机刷卡)。"/>

    <!-- 品牌_白酒 -->
    <add key="SEOTitleBrand_baijiu" value="白酒网购_白酒品牌_排名_价格表_购酒网官网"/>
    <add key="SEODescriptionBrand_baijiu" value="购酒网(GJW.COM)官网提供优质中国排名白酒品牌白酒网购,酱香型、浓香型、清香型等各类白酒价格,品牌,评价等信息,真品保障,货到付款,支持全国8000个城市和地区(可POS机刷卡)。"/>

    <!-- 品牌_红酒 -->
    <add key="SEOTitleBrand_putaojiu" value="葡萄酒网购_红酒品牌_干红葡萄酒价格_白葡萄酒_购酒网官网"/>
    <add key="SEODescriptionBrand_putaojiu" value="购酒网(GJW.COM)官网提供优质干红葡萄酒,白葡萄酒网购,各类红酒品牌,价格,评价等信息,真品保障,货到付款,支持全国8000个城市和地区(可POS机刷卡)。"/>

    <!-- 品牌_洋酒 -->
    <add key="SEOTitleBrand_yangjiu" value="洋酒正品网购_洋酒品牌种类_价格表_图片_购酒网官网"/>
    <add key="SEODescriptionBrand_yangjiu" value="购酒网(GJW.COM)官网提供优质洋酒正品网购,各类洋酒品牌,种类,价格,图片,评价等信息,真品保障,货到付款,支持全国8000个城市和地区(可POS机刷卡)。"/>

    <!-- 品牌_黄酒 -->
    <add key="SEOTitleBrand_huangjiu" value="黄酒网购_黄酒品牌_黄酒价格_购酒网官网"/>
    <add key="SEODescriptionBrand_huangjiu" value="购酒网(GJW.COM)官网提供优质黄酒网购,各类黄酒品牌,黄酒价格,评价等信息,真品保障,货到付款,支持全国8000个城市和地区(可POS机刷卡)。"/>

    <!-- 品牌_啤酒与保健酒 -->
    <add key="SEOTitleBrand_baojianjiuyupijiu" value="啤酒_保健酒_养生酒_品牌排名_价格表_购酒网官网"/>
    <add key="SEODescriptionBrand_baojianjiuyupijiu" value="购酒网(GJW.COM)官网提供优质啤酒,保健酒,养生酒网购,各类保健酒品牌,价格,评价等信息,真品保障,货到付款,支持全国8000个城市和地区(可POS机刷卡)。"/>

    <!-- 品牌_子类 -->
    <add key="SEOTitleBrand" value="【$ProductBrand$$ProductSubBrand$】_$ProductBrand$$ProductSubBrand$酒价格表_图片_正品网购_购酒网官网" />
    <add key="SEOKeywordsBrand" value="$ProductCategory$$ProductBrand$$ProductSubBrand$,$ProductBrand$$ProductSubBrand$价格,图片" />
    <add key="SEODescriptionBrand" value="购酒网(GJW.COM)官网专业提供$ProductBrand$$ProductSubBrand$价格实惠正品网购,最新$ProductBrand$$ProductSubBrand$酒价格表,图片,评价等信息，真品保障，货到付款，支持全国8000个城市和地区(可POS机刷卡)。"/>

    <!-- 其他通用 -->
    <add key="SEOTitleBrandAll" value="【$ProductCategory$】$ProductBrand$$ProductSubBrand$_价格_图片_正品网购_购酒网官网" />
    <add key="SEOKeywordsBrandAll" value="网上买$ProductCategory$$ProductBrand$$ProductSubBrand$,价格,正品网购" />
    <add key="SEODescriptionBrandAll" value="购酒网(GJW.COM)官网是综合的网上购酒商城网站,提供$ProductCategory$$ProductBrand$$ProductSubBrand$价格,图片,评价等信息,真品保障,货到付款,支持全国8000个城市和地区(可POS机刷卡)。"/>
      
    <!-- 团购 -->
    <add key="SEOTitleTuan" value="购酒网团购-品牌酒水低价团购"/>
    <add key="SEODescriptionTuan" value="购酒网是综合的网上购酒商城,提供白酒,红酒,葡萄酒,洋酒,黄酒,啤酒,保健酒各类酒的最新价格,评价等信息,真品保障,货到付款,支持全国8000个城市和地区(可POS机刷卡)"/>

    <!-- 商品详情 -->
    <add key="SEOTitleItem" value="$ProductName$_价格_正品网购_购酒网官网" />
    <add key="SEOKeywordsItem" value="$ProductName$"/>
    <add key="SEODescriptionItem" value="购酒网GJW.COM是综合的网上购酒商城网站,提供$ProductName$正品网购,图片,价格,评价等信息,真品保障,货到付款,支持全国8000个城市和地区(可POS机刷卡)。"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--<authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>-->
     
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>

    <!--<customErrors mode="On" defaultRedirect="~/Utility/Error"> 
    <error statusCode="404" redirect="~/Utility/Error"/>
    </customErrors>-->
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEmail" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288"
          maxReceivedMessageSize="65536" useDefaultWebProxy="true" />
        <binding name="BasicHttpBinding_ISms" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288"
          maxReceivedMessageSize="65536" useDefaultWebProxy="true" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.2.200:8019/Email.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IEmail" contract="EmailClient.IEmail"
        name="BasicHttpBinding_IEmail" />
      <endpoint address="http://192.168.2.200:8018/Sms.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ISms" contract="SmsClient.ISms"
        name="BasicHttpBinding_ISms" />
    </client>
  </system.serviceModel>
</configuration>
