@{
    ViewBag.Title = "Error";
}
@model System.Web.Mvc.HandleErrorInfo
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>购酒网</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="description" content="">
    <meta name="GENERATOR" content="MSHTML 8.00.6001.19170">
</head>
<body class="ie7 page_">
    <style>
        BODY
        {
            margin: 0px auto;
            width: 950px;
            margin: 0 auto;
            font: 11px "Lucida Grande" ,Arial,Verdana,sans-serif;
            background: url(../../Content/404/body_bg.jpg) #d4d4d4 repeat-x;
            padding-top: 80px;
        }
        DIV.error404_main
        {
            position: relative;
            margin: 31px 21px 0px;
            width: 950px;
            background: url(../../Content/404/error404.jpg) no-repeat;
            height: 500px;
        }
        SPAN.main_txt
        {
            position: absolute;
            text-align: center;
            padding-bottom: 0px;
            padding-left: 0px;
            width: 150px;
            padding-right: 0px;
            display: block;
            height: 63px;
            color: #1d1d1d;
            top: 223px;
            padding-top: 2px;
            left: 745px;
        }
        SPAN.main_txt SPAN
        {
            margin: 0px 0px 2px;
            display: block;
        }
        SPAN.main_txt A
        {
            color: #1d1d1d;
        }
        DIV.error404_guide
        {
            position: relative;
            background-color: #b4b4b4;
            margin: 0px 21px;
            width: 950px;
            height: 84px;
        }
    </style>
    <div class="error404_main">
        <span class="main_txt"><span>您访问的网页</span> <span>不存在或者已删除</span> <span>:(请刷新</span>
            <span>或者 <a class="gray_un" href="http://www.gjw.com">返回首页</a>.</span> </span>
    </div>
</body>
</html>
