<div class="headNav" id="headNav">
    <div class="navCon">
        <!-- 全部商品分类 -->
        <div class="navCon-cate fl navCon_on">
            <div class="navCon-cate-title">
                <a href="#">全部商品分类</a>
            </div>
            <div class="cateMenu">
                <ul>
                    <li style="border-top: none;">
                        <div class="cate-tag">
                            <strong><a href="/baijiu.htm" target="_blank">白酒</a></strong>
                            <div class="listModel">
                                <p>
                                    <a href="/baijiu-maotai.htm" target="_blank">茅台</a> <a href="/baijiu-yanghe.htm"
                                        target="_blank">洋河</a> <a href="/baijiu-langjiu.htm" target="_blank">郎酒</a>
                                    <a href="/baijiu-gujinggongjiu.htm" target="_blank">古井贡酒</a></p>
                                <p>
                                    <a href="/baijiu-xijiu.htm" target="_blank">习酒</a> <a href="/baijiu-zhenjiu.htm"
                                        target="_blank">珍酒</a> <a href="/baijiu-hongxing.htm" target="_blank">
                                            红星</a> <a href="/baijiu-luzhoulaojiao.htm" target="_blank">泸州老窖</a></p>
                                <p>
                                    <a href="/baijiu-jingzhi.htm" target="_blank">景芝</a> <a href="/baijiu-guotai.htm"
                                        target="_blank">国台</a> <a href="/baijiu-wuliangye.htm" target="_blank">
                                            五粮液</a> <a href="/baijiu-jiannanchun.htm" target="_blank">剑南春</a></p>
                            </div>
                        </div>
                        <div class="list-item hide">
                            <div style="margin-left: 2em" class="itemleft">
                                <dl>
                                    <dt>品牌</dt>
                                    <dd>
                                        <a href="/baijiu-maotai.htm" target="_blank">茅台</a> <a href="/baijiu-wuliangye.htm"
                                            target="_blank">五粮液</a> <a href="/baijiu-jiannanchun.htm" target="_blank">
                                                剑南春</a> <a href="/baijiu-shuijingfang.htm" target="_blank">水井坊</a>
                                        <a href="/baijiu-fenjiu.htm" target="_blank">汾酒</a> <a href="/baijiu-yanghe.htm"
                                            target="_blank">洋河</a> <a href="/baijiu-luzhoulaojiao.htm" target="_blank">
                                                泸州老窖</a> <a href="/baijiu-zhenjiu.htm" target="_blank">珍酒</a>
                                        <a href="/baijiu-langjiu.htm" target="_blank">郎酒</a> <a href="/baijiu-gujinggongjiu.htm"
                                            target="_blank">古井贡酒</a> <a href="/baijiu-xifengjiu.htm" target="_blank">
                                                西凤酒</a> <a href="/baijiu-dongjiu.htm" target="_blank">董酒</a>
                                        <a href="/baijiu-jiuguijiu.htm" target="_blank">酒鬼酒</a> <a href="/baijiu-hongxing.htm"
                                            target="_blank">红星</a> <a href="/baijiu-wenjunjiu.htm" target="_blank">
                                                文君酒</a> <a href="/baijiu-niulanshan.htm" target="_blank">牛栏山</a>
                                        <a href="/baijiu-sitejiu.htm" target="_blank">四特酒</a> <a href="/baijiu-kouzijiu.htm"
                                            target="_blank">口子酒</a> <a href="/baijiu-zuopai.htm" target="_blank">沱牌</a>
                                        <a href="/baijiu-xijiu.htm" target="_blank">习酒</a> <a href="/baijiu-guotai.htm"
                                            target="_blank">国台</a> <a href="/baijiu-hengshuilaobaigan.htm" target="_blank">
                                                衡水老白干</a> <a href="/baijiu-shedejiu.htm" target="_blank">舍得酒</a>
                                        <a href="/baijiu-zhongzijiu.htm" target="_blank">种子酒</a> <a href="/baijiu-yilite.htm"
                                            target="_blank">伊力特</a> <a href="/baijiu-dukang.htm" target="_blank">杜康酒</a>
                                        <a href="/baijiu-zhijiang.htm" target="_blank">枝江酒</a> <a href="/baijiu-baiyunbian.htm"
                                            target="_blank">白云边</a> <a href="/baijiu-kongfujia.htm" target="_blank">
                                                孔府家</a> <a href="/baijiu-bandaojing.htm" target="_blank">扳倒井</a>
                                        <a href="/baijiu-laimaojiu.htm" target="_blank">赖茅酒</a> <a href="/baijiu-jinshiyuan.htm"
                                            target="_blank">今世缘</a> <a href="/baijiu-yaxijiao.htm" target="_blank">
                                                鸭溪窖</a> <a href="/baijiu-jinliufu.htm" target="_blank">金六福</a>
                                        <a href="/baijiu-xiaohutuxian.htm" target="_blank">小糊涂仙</a> <a href="/baijiu-yingjiajiu.htm"
                                            target="_blank">迎驾酒</a> <a href="/baijiu-daohuaxiang.htm" target="_blank">
                                                稻花香</a> <a href="/baijiu-wanjiu.htm" target="_blank">皖酒</a>
                                        <a href="/baijiu-taiwangaoliangjiu.htm" target="_blank">台湾高粱酒</a>
                                        <a href="/baijiu-fenggu.htm" target="_blank">丰谷酒</a> <a href="/baijiu-qiantaipai.htm"
                                            target="_blank">黔台牌</a> <a href="/baijiu-shuanggoujiu.htm" target="_blank">
                                                双沟酒</a> <a href="/baijiu-huanghelou.htm" target="_blank">黄鹤楼</a>
                                        <a href="/baijiu-taibaijiu.htm"
                                            target="_blank">太白酒</a> <a href="/baijiu-liuyanghe.htm" target="_blank">
                                                浏阳河</a> <a href="/baijiu-gaolujia.htm" target="_blank">高炉家</a>
                                        <a href="/baijiu-maotaizhenwuxing.htm" target="_blank">茅台镇五星</a> <a
                                            href="/baijiu-sujiu.htm" target="_blank">苏酒</a> <a href="/baijiu-guizhouqingjiu.htm"
                                                target="_blank">贵州青酒</a> <a href="/baijiu-hetao.htm" target="_blank">河套酒</a>
                                        <a href="/baijiu-hongloumeng.htm" target="_blank">红楼梦</a> <a href="/baijiu-dongbeifang.htm"
                                            target="_blank">东北坊</a> <a href="/baijiu-sichuanquanxing.htm" target="_blank">
                                                四川全兴</a> <a href="/baijiu-gaocan.htm" target="_blank">高参</a>
                                        <a href="/baijiu-jingzhi.htm" target="_blank">景芝</a> <a href="/baijiu-junjiu.htm"
                                            target="_blank">军酒</a> <a href="/baijiu-laozhanshi.htm" target="_blank">
                                                老战士</a> <a href="/baijiu-xiaojiurensheng.htm" target="_blank">小酒人生</a>
                                        <a href="/baijiu-jiangjinjiu.htm" target="_blank">江津酒</a> <a href="/baijiu-dijiaojiu.htm"
                                            target="_blank">地窖酒</a> <a href="/baijiu-yongdingheerguotou.htm" target="_blank">
                                                永定河二锅头</a> <a href="/baijiu-qixingerguotou.htm" target="_blank">七星二锅头</a>
                                        <a href="/baijiu-zhanggongjiu.htm" target="_blank">张弓酒</a> <a href="/baijiu-fuchengerguotou.htm"
                                            target="_blank">福城二锅头</a> <a href="/baijiu-zunyijiu.htm" target="_blank">
                                                遵义酒</a> <a href="/baijiu-xiaohulu.htm" target="_blank">小葫芦</a>
                                        <a href="/baijiu-xiaofangzi.htm" target="_blank">小房子</a> <a href="/baijiu-laojiaojiu.htm"
                                            target="_blank">老窖酒</a> <a href="/baijiu-jinzuolaojiao.htm" target="_blank">
                                                金泸老窖</a> <a href="/baijiu-huozhiniang.htm" target="_blank">活之酿</a>
                                        <a href="/baijiu-jiuzhongjiu.htm" target="_blank">酒中酒</a> <a href="/baijiu-taishan.htm"
                                            target="_blank">泰山</a> <a href="/baijiu-liulingzui.htm" target="_blank">
                                                刘伶醉</a> <a href="/baijiu-qinghuaci.htm" target="_blank">青花瓷</a>
                                        <a href="/baijiu-xinghewan.htm" target="_blank">星河湾</a><a href="/baijiu-chuanqiqianjiang.htm" target="_blank">传奇黔酱</a>
                                        <a href="/baijiu-bainianchuanqi.htm" target="_blank">百年传奇</a></dd>
                                </dl>
                                <div class="fn-clear">
                                </div>
                                <dl>
                                    <dt>香型</dt>
                                    <dd>
                                        <a href="###" >酱香型</a> <a href="###"
                                            target="_blank">浓香型</a> <a href="###" >
                                                清香型</a> <a href="###" >凤香型</a>
                                        <a href="###" >馥郁香</a> <a href="###"
                                            target="_blank">董香型</a> <a href="###" >
                                                特香型</a> <a href="###" >芝麻香</a>
                                        <a href="###" >兼香型</a> <a href="###"
                                            target="_blank">金门香型</a> <a href="###" >
                                                老干白</a> <a href="###" >绵柔型</a>
                                        <a href="###" >柔和型</a> <a href="###"
                                            target="_blank">小曲型</a> <a href="###" >
                                                生态竹香型</a></dd>
                                </dl>
                                <div class="fn-clear">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="cate-tag">
                            <strong><a href="/putaojiu.htm" target="_blank">葡萄酒</a></strong>
                            <div class="listModel">
                                <p>
                                    <a href="/putaojiu-zhongguo.htm" target="_blank">中国</a> <a href="/putaojiu-faguo.htm"
                                        target="_blank">法国</a> <a href="/putaojiu-zhili.htm" target="_blank">智利</a>
                                    <a href="/putaojiu-putaoya.htm" target="_blank">葡萄牙</a></p>
                                <p>
                                    <a href="/putaojiu-yidali.htm" target="_blank">意大利</a> <a href="/putaojiu-aodaliya.htm"
                                        target="_blank">澳大利亚</a> <a href="/putaojiu-deguo.htm" target="_blank">
                                            德国</a> <a href="/putaojiu-nanfei.htm" target="_blank">南非</a></p>
                                <p>
                                    <a href="/putaojiu-meiguo.htm" target="_blank">美国</a> <a href="/putaojiu-agenting.htm"
                                        target="_blank">阿根廷</a> <a href="/putaojiu-xibanya.htm" target="_blank">
                                            西班牙</a></p>
                            </div>
                        </div>
                        <div class="list-item hide">
                            <div style="margin-left: 2em" class="itemleft">
                                <dl>
                                    <dt>产区</dt>
                                    <dd>
                                        <a href="/putaojiu-aodaliya.htm" target="_blank">澳大利亚</a> <a href="/putaojiu-deguo.htm"
                                            target="_blank">德国</a> <a href="/putaojiu-faguo.htm" target="_blank">法国</a>
                                        <a href="/putaojiu-jianada.htm" target="_blank">加拿大</a> <a href="/putaojiu-meiguo.htm"
                                            target="_blank">美国</a> <a href="/putaojiu-xibanya.htm" target="_blank">
                                                西班牙</a> <a href="/putaojiu-zhili.htm" target="_blank">智利</a>
                                        <a href="/putaojiu-putaoya.htm" target="_blank">葡萄牙</a> <a href="/putaojiu-eluosi.htm"
                                            target="_blank">俄罗斯</a> <a href="/putaojiu-agenting.htm" target="_blank">
                                                阿根廷</a> <a href="/putaojiu-xinxilan.htm" target="_blank">新西兰</a>
                                        <a href="/putaojiu-nanfei.htm" target="_blank">南非</a> <a href="/putaojiu-yidali.htm"
                                            target="_blank">意大利</a> <a href="/putaojiu-zhongguo.htm" target="_blank">
                                                中国</a> <a href="/putaojiu-xila.htm" target="_blank">希腊</a></dd>
                                </dl>
                                <div class="fn-clear">
                                </div>
                                <dl>
                                    <dt>类型</dt>
                                    <dd>
                                        <a href="###" >红葡萄酒</a>
                                        <a href="###" >白葡萄酒</a>
                                        <a href="###" >桃红葡萄酒</a>
                                        <a href="###" >起泡酒/香槟</a>
                                        <a href="###" >冰酒/贵腐/甜酒</a></dd>
                                </dl>
                                <div class="fn-clear">
                                </div>
                                <dl>
                                    <dt>品种</dt>
                                    <dd>
                                        <a href="###" >芭贝拉</a> <a
                                            href="###" >长相思</a>
                                        <a href="###" >解百纳</a> <a
                                            href="###" >玛尔维萨</a>
                                        <a href="###" >梅洛</a> <a
                                            href="###" >西拉子</a>
                                        <a href="###" >综合佳酿</a>
                                        <a href="###" >美乐</a> <a
                                            href="###" >莫斯卡托</a></dd>
                                </dl>
                                <div class="fn-clear">
                                </div>
                            </div>
                        </div>
                    </li>
                       <li>
                        <div class="cate-tag">
                          <strong><a href="/yangjiu.htm" target="_blank">洋酒</a></strong>
                          <div class="listModel">
                            <p><a href="/yangjiu-bailandi-huangjialuyi.htm" target="_blank">皇家路易</a><a href="/yangjiu-bailandi-xuannishi.htm" target="_blank">轩尼诗</a><a href="/yangjiu-weishiji-bailingtan.htm" target="_blank">百龄坛</a></p>
                            <p><a href="/yangjiu-weishiji-gelanweite.htm" target="_blank">格兰威特</a><a href="/yangjiu-weishiji-jiekedanni.htm" target="_blank">杰克丹尼</a><a href="/yangjiu-weishiji-zunnihuojia.htm" target="_blank">尊尼获加</a></p>
                          </div>
                        </div>
                        <div class="list-item hide" style="top: 0px; display: none;">
                          <div style="margin-left: 2em" class="itemleft">
                            <dl>
                              <dt>品牌</dt>
                              <dd>
				                <a href="/yangjiu-bailandi-huangjialuyi.htm" target="_blank">皇家路易</a> <a href="/yangjiu-bailandi-MARTELL.htm" target="_blank">马爹利</a> <a href="/yangjiu-bailandi-mengtebojue.htm" target="_blank">蒙特伯爵</a> <a href="/yangjiu-bailandi-pafulijisi.htm" target="_blank">帕夫利季斯</a> <a href="/yangjiu-bailandi-REMY%20MARTIN.htm" target="_blank">人头马</a> <a href="/yangjiu-bailandi-salonggongjue.htm" target="_blank">萨隆公爵</a> <a href="/yangjiu-bailandi-xuannishi.htm" target="_blank">轩尼诗</a> <a href="/yangjiu-futejia-fenlan.htm" target="_blank">芬兰</a> <a href="/yangjiu-futejia-ruidianjuedui.htm" target="_blank">瑞典绝对</a> <a href="/yangjiu-futejia-shenlan.htm" target="_blank">深蓝</a> <a href="/yangjiu-futejia-siminuo.htm" target="_blank">斯米诺</a> <a href="/yangjiu-futejia-sulian.htm" target="_blank">苏连</a> <a href="/yangjiu-futejia-weiboluowa.htm" target="_blank">维波罗瓦</a> <a href="/yangjiu-futejia-xueshu.htm" target="_blank">雪树</a> <a href="/yangjiu-jin  jiu-bifuda.htm" target="_blank">必富达</a> <a href="/yangjiu-jin  jiu-hana.htm" target="_blank">哈拿</a> <a href="/yangjiu-jin  jiu-jueshi.htm" target="_blank">爵士</a> <a href="/yangjiu-jin  jiu-mengmailanbaoshi.htm" target="_blank">孟买蓝宝石</a> <a href="/yangjiu-jin  jiu-shigelan.htm" target="_blank">施格兰</a> <a href="/yangjiu-jin  jiu-tianjiali.htm" target="_blank">添加利</a> <a href="/yangjiu-jin  jiu-zuanshi.htm" target="_blank">钻石</a> <a href="/yangjiu-langmujiu-baijiade.htm" target="_blank">百加得</a> <a href="/yangjiu-langmujiu-hawana.htm" target="_blank">哈瓦那</a> <a href="/yangjiu-langmujiu-malibao.htm" target="_blank">马利宝</a> <a href="/yangjiu-langmujiu-meiyashi.htm" target="_blank">美雅士</a> <a href="/yangjiu-lijiaojiu-aokai.htm" target="_blank">奥凯</a> <a href="/yangjiu-lijiaojiu-bailitian.htm" target="_blank">百利甜</a> <a href="/yangjiu-lijiaojiu-bideli.htm" target="_blank">必得利</a> <a href="/yangjiu-lijiaojiu-dikaibao.htm" target="_blank">迪凯堡</a> <a href="/yangjiu-lijiaojiu-disanuo.htm" target="_blank">帝萨诺</a> <a href="/yangjiu-lijiaojiu-ganlukafei.htm" target="_blank">甘露咖啡</a> <a href="/yangjiu-lijiaojiu-huluzun.htm" target="_blank">葫芦樽</a> <a href="/yangjiu-lijiaojiu-jundu.htm" target="_blank">君度</a> <a href="/yangjiu-lijiaojiu-lijia.htm" target="_blank">力加</a> <a href="/yangjiu-lijiaojiu-matianni.htm" target="_blank">马天尼</a> <a href="/yangjiu-lijiaojiu-peiteleichengbao.htm" target="_blank">佩特雷城堡</a> <a href="/yangjiu-lijiaojiu-senbojia.htm" target="_blank">森伯加</a> <a href="/yangjiu-lijiaojiu-xianshanlu.htm" target="_blank">仙山露</a> <a href="/yangjiu-longshelan-aomeijia.htm" target="_blank">奥美加</a> <a href="/yangjiu-longshelan-baijinwushi.htm" target="_blank">白金武士</a> <a href="/yangjiu-longshelan-haoshuai.htm" target="_blank">豪帅</a> <a href="/yangjiu-longshelan-lanchong.htm" target="_blank">懒虫</a> <a href="/yangjiu-longshelan-leiboshi.htm" target="_blank">雷博士</a> <a href="/yangjiu-weishiji-aidehua.htm" target="_blank">爱德华</a> <a href="/yangjiu-weishiji-bailingtan.htm" target="_blank">百龄坛</a> <a href="/yangjiu-weishiji-benniweisi.htm" target="_blank">本尼维斯</a> <a href="/yangjiu-weishiji-bulangchuanchang.htm" target="_blank">布朗船长</a> <a href="/yangjiu-weishiji-dilinke.htm" target="_blank">第林可</a> <a href="/yangjiu-weishiji-diwang.htm" target="_blank">帝王</a> <a href="/yangjiu-weishiji-gelanfeidi.htm" target="_blank">格兰菲迪</a> <a href="/yangjiu-weishiji-gelanjie.htm" target="_blank">格兰杰</a> <a href="/yangjiu-weishiji-gelanweite.htm" target="_blank">格兰威特</a> <a href="/yangjiu-weishiji-gelanyulu.htm" target="_blank">格兰御鹿</a> <a href="/yangjiu-weishiji-heizun.htm" target="_blank">黑樽</a> <a href="/yangjiu-weishiji-huangjialipao.htm" target="_blank">皇家礼炮</a> <a href="/yangjiu-weishiji-jianadacc.htm" target="_blank">加拿大cc</a> <a href="/yangjiu-weishiji-jianwei.htm" target="_blank">剑威</a> <a href="/yangjiu-weishiji-jiekedanni.htm" target="_blank">杰克丹尼</a> <a href="/yangjiu-weishiji-laobowei.htm" target="_blank">老伯威</a> <a href="/yangjiu-weishiji-madishi.htm" target="_blank">马谛氏</a> <a href="/yangjiu-weishiji-maikalun.htm" target="_blank">麦卡伦</a> <a href="/yangjiu-weishiji-qishi.htm" target="_blank">骑士</a> <a href="/yangjiu-weishiji-sandeli.htm" target="_blank">三得利</a> <a href="/yangjiu-weishiji-shunfeng.htm" target="_blank">顺风</a> <a href="/yangjiu-weishiji-tianbao.htm" target="_blank">添宝</a> <a href="/yangjiu-weishiji-weique.htm" target="_blank">威雀</a> <a href="/yangjiu-weishiji-wensha.htm" target="_blank">温莎</a> <a href="/yangjiu-weishiji-zhanbian.htm" target="_blank">占边</a> <a href="/yangjiu-weishiji-zhenbaowei.htm" target="_blank">珍宝威</a> <a href="/yangjiu-weishiji-zhihuashi.htm" target="_blank">芝华士</a> <a href="/yangjiu-weishiji-zunmeichun.htm" target="_blank">尊美醇</a> <a href="/yangjiu-weishiji-zunnihuojia.htm" target="_blank">尊尼获加</a>
			                  </dd>
			                </dl>
                            <div class="fn-clear"></div>
                            <dl>
                              <dt>酒种</dt>
                              <dd>
			                  <a href="/yangjiu-bailandi.htm" target="_blank">白兰地</a><a href="/yangjiu-futejia.htm" target="_blank">伏特加</a><a href="/yangjiu-jin  jiu.htm" target="_blank">金酒</a><a href="/yangjiu-langmujiu.htm" target="_blank">朗姆酒</a><a href="/yangjiu-lijiaojiu.htm" target="_blank">力娇酒</a><a href="/yangjiu-weishiji.htm" target="_blank">威士忌</a>
			                  </dd>
			                </dl>
                            <div class="fn-clear"></div>
                          </div>
                        </div>
                      </li>
                    <li>
                        <div class="cate-tag">
                            <strong><a href="/huangjiu.htm" target="_blank">黄酒</a></strong>
                            <div class="listModel">
                                <p>
                                    <a href="/huangjiu-shikumen.htm" target="_blank">石库门</a> <a href="/huangjiu-nverhong.htm"
                                        target="_blank">女儿红</a> <a href="/huangjiu-guyuelongshan.htm" target="_blank">
                                            古越龙山</a>
                                </p>
                            </div>
                        </div>
                        <div class="list-item hide" style="top: 0px; display: none;">
                            <div style="margin-left: 2em" class="itemleft">
                                <dl>
                                    <dt>品牌</dt>
                                    <dd>
                                        <a href="/huangjiu-shikumen.htm" target="_blank">石库门</a> <a href="/huangjiu-hejiu.htm"
                                            target="_blank">和酒</a> <a href="/huangjiu-guyuelongshan.htm" target="_blank">
                                                古越龙山</a> <a href="/huangjiu-nverhong.htm" target="_blank">女儿红</a>
                                        <a href="/huangjiu-shazhouyouhuang.htm" target="_blank">沙洲优黄</a> <a
                                            href="/huangjiu-huijishan.htm" target="_blank">会稽山</a> <a href="/huangjiu-tapai.htm"
                                                target="_blank">塔牌</a> <a href="/huangjiu-wuzhanmao.htm" target="_blank">
                                                    乌毡帽</a> <a href="/huangjiu-tangsonghuangjiu.htm" target="_blank">唐宋黄酒</a>
                                        <a href="/huangjiu-qiantangrenjia.htm" target="_blank">钱塘人家</a> <a
                                            href="/huangjiu-xianhenghuangjiu.htm" target="_blank">咸亨黄酒</a>
                                        <a href="/huangjiu-jiashanhuangjiu.htm" target="_blank">嘉善黄酒</a> <a
                                            href="/huangjiu-shaoxingshiye.htm" target="_blank">绍兴师爷</a> <a href="/huangjiu-liangzhu.htm"
                                                target="_blank">梁祝</a> <a href="/huangjiu-zuhezhuang.htm" target="_blank">
                                                    组合装</a>
                                    </dd>
                                </dl>
                                <div class="fn-clear">
                                </div>
                                <dl>
                                    <dt>年份</dt>
                                    <dd>
                                        <a href="###" >100年</a>
                                        <a href="###" >10年</a> <a
                                            href="###" >12年</a>
                                        <a href="###" >15年</a> <a
                                            href="###" >18年</a>
                                        <a href="###" >20年</a> <a
                                            href="###" >25年</a>
                                        <a href="###" >30年</a> <a
                                            href="###" >3年</a> <a href="###"
                                                target="_blank">5年</a> <a href="###" >
                                                    6年</a> <a href="###" >8年</a>
                                        <a href="###" >9年</a> <a
                                            href="###" >常规年份</a>
                                    </dd>
                                </dl>
                                <div class="fn-clear">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="cate-tag">
                            <strong><a href="/baojianjiuyupijiu.htm" target="_blank">保健酒与啤酒</a></strong>
                            <div class="listModel">
                                <p>
                                    <a href="/baojianjiuyupijiu-baiweipijiu.htm" target="_blank">百威</a> <a href="/baojianjiuyupijiu-qingdaopijiu.htm"
                                        target="_blank">青岛</a> <a href="/baojianjiuyupijiu-xilipijiu.htm" target="_blank">
                                            喜力</a> <a href="/baojianjiuyupijiu-jinjiu.htm" target="_blank">劲酒</a>
                                </p>
                            </div>
                        </div>
                        <div class="list-item hide" style="top: 0px;">
                            <div style="margin-left: 2em" class="itemleft">
                                <dl>
                                    <dt>品牌</dt>
                                    <dd>
                                        <a href="/baojianjiuyupijiu-baiweipijiu.htm" target="_blank">百威</a> <a href="/baojianjiuyupijiu-xilipijiu.htm"
                                            target="_blank">喜力</a> <a href="/baojianjiuyupijiu-qingdao.htm" target="_blank">
                                                青岛</a> <a href="/baojianjiuyupijiu-jinjiu.htm" target="_blank">劲酒</a>
                                        <a href="/baojianjiuyupijiu-huangjinjiu.htm" target="_blank">黄金酒</a>
                                        <a href="/baojianjiuyupijiu-lanzuojiu.htm" target="_blank">蓝莓酒</a>
                                        <a href="/baojianjiuyupijiu-yinxing.htm" target="_blank">银杏</a> <a
                                            href="/baojianjiuyupijiu-chunshengtang.htm" target="_blank">春生堂</a>
                                        <a href="/baojianjiuyupijiu-zhangyujiu.htm" target="_blank">张裕酒</a>
                                        <a href="/baojianjiuyupijiu-danli.htm" target="_blank">丹力</a> <a href="/baojianjiuyupijiu-guihuajiu.htm"
                                            target="_blank">桂花酒</a> <a href="/baojianjiuyupijiu-senlindamao.htm"
                                                target="_blank">森林大猫</a> <a href="/baojianjiuyupijiu-kalite.htm" target="_blank">
                                                    卡力特</a> <a href="/baojianjiuyupijiu-qilin.htm" target="_blank">麒麟</a>
                                        <a href="/baojianjiuyupijiu-kaisa.htm" target="_blank">凯撒</a> <a href="/baojianjiuyupijiu-xiushi.htm"
                                            target="_blank">修士</a> <a href="/baojianjiuyupijiu-heisenmati.htm"
                                                target="_blank">黑森马蹄</a> <a href="/baojianjiuyupijiu-weilanshi.htm"
                                                    target="_blank">威兰仕</a> <a href="/baojianjiuyupijiu-keluona.htm" target="_blank">
                                                        科罗娜</a> <a href="/baojianjiuyupijiu-landai.htm" target="_blank">蓝带</a>
                                        <a href="/baojianjiuyupijiu-bugefusi.htm" target="_blank">布格福斯</a>
                                        <a href="/baojianjiuyupijiu-boruike.htm" target="_blank">博瑞克</a> <a
                                            href="/baojianjiuyupijiu-lizibao.htm" target="_blank">力兹堡</a>
                                        <a href="/baojianjiuyupijiu-jiashibo.htm" target="_blank">嘉士伯</a>
                                        <a href="/baojianjiuyupijiu-meimingge.htm" target="_blank">美名格</a>
                                        <a href="/baojianjiuyupijiu-adengbao.htm" target="_blank">阿登堡</a>
                                        <a href="/baojianjiuyupijiu-bode.htm" target="_blank">博德</a> <a href="/baojianjiuyupijiu-defubao.htm"
                                            target="_blank">德福堡</a> <a href="/baojianjiuyupijiu-delishi.htm" target="_blank">
                                                德力士</a> <a href="/baojianjiuyupijiu-langke.htm" target="_blank">朗克</a>
                                        <a href="/baojianjiuyupijiu-maideaohei.htm" target="_blank">麦德奥黑</a>
                                        <a href="/baojianjiuyupijiu-weiou.htm" target="_blank">威欧</a> <a href="/baojianjiuyupijiu-weisima.htm"
                                            target="_blank">威斯玛</a> <a href="/baojianjiuyupijiu-zhaori.htm" target="_blank">
                                                朝日</a> <a href="/baojianjiuyupijiu-bile.htm" target="_blank">彼乐</a>
                                        <a href="/baojianjiuyupijiu-baiguan.htm" target="_blank">白鹳</a> <a
                                            href="/baojianjiuyupijiu-debo.htm" target="_blank">德博</a> <a href="/baojianjiuyupijiu-zhuangyuanzhu.htm"
                                                target="_blank">庄园主</a> <a href="/baojianjiuyupijiu-delake.htm" target="_blank">
                                                    德拉克</a> <a href="/baojianjiuyupijiu-xicangqingzuo.htm" target="_blank">
                                                        西藏青稞</a></dd>
                                </dl>
                                <div class="fn-clear">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="float-list-dnav">
                            <a href="/all.htm?sort=4" >新品</a>
                            <a href="##" onclick=" AlertDiv()">清仓</a>
                            <a href="##" onclick=" AlertDiv()">多买优惠</a>
                        </div>
                    </li>
                    <li class="ppg"><a href="##" onclick=" AlertDiv()">
                        <img src="@Url.Content("~/images/pinpaiguan.jpg")" alt="{白酒}{茅台}-{飞天茅台}" /></a></li>
                </ul>
            </div>
        </div>
        <!-- 系统菜单 -->
        <div class="navCon-menu fl">
            <ul>
                <li><a class="curMenu" href="@V5.Portal.Common.ConstantParams.IndexUrl">首页</a></li>
                <li><a href="/Home/Tuan">购酒团</a></li>
                <li><a href="/Search?w=%u5C0F%u9152%u7248&brand=&price=&sort=4">我爱小酒版</a></li>
                <li><a href="/Search?w=&brand=baijiu&price=p6">名家鉴赏</a></li>
                <!--
                <li><a href="##" onclick=" AlertDiv()">名庄酒窖</a></li>
                <li><a href="##" onclick=" AlertDiv()">VIP专场</a></li>
                -->
            </ul>
        </div>
        <!-- 我的购物车 -->
        <div class="cart fr">
            <a href="/Cart/Index">我的购物车</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    function AlertDiv() {

        $("#errorDiv").css({ "display": "block" });
        setTimeout(function () {
            NoneDIv();
            window.location.href = "/index.htm";
        }, 2000);
    }

    function NoneDIv() {
        $("#errorDiv").css({ "display": "none" });
    }
</script>
