@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="../../Scripts/Validate.js" type="text/javascript"></script>
<p class="weizhi">
    当前位置&nbsp;>&nbsp;促销管理&nbsp;>&nbsp;<label id="current"></label>
</p>
<div id="defaultDiv" class="right-box"></div>
<div id="detailDiv" class="right-box" style="display: none;"></div>
<script type="text/javascript">

    // 默认选中左边菜单的第一个
    $(function () {
        $("#top_promote").addClass("select");
        //$('.left-f ul li:first a').trigger("click");
    });

    //促销管理显示子项
    function ShowPartialView(a) {
        var current = $(a).attr("name");
        var href = "/" + $(a).attr("parent") + "/" + current + "/";

        var currentLabel = $("#current");
        currentLabel.text($(a).text());

        $.ajax({
            type: "GET",
            url: href,
            data: null,
            datatype: "html",
            async: false,
            success: function (data) {
                if (data.State == -401) {
                    onSessionLost();
                } else if (data.State == -403) {
                    alert("对不起，您无此操作权限！");
                } else {
                    $('#defaultDiv').html(data);
                    $('#detailDiv').css("display", "none");
                    $('#defaultDiv').css("display", "block");
                    $(a).parent().addClass("left-s").siblings().removeClass("left-s");
                }
            },
            error: function () {
                alert("处理失败!");
            }
        });
    }
   
    /*************多瓶装促销 *******************/
    //搜索多瓶装
    function searchMuchBottled() {
        var filter = new Array();
        var grid = $("#promoteMuchBottleGrid").data("kendoGrid");
        grid.dataSource.filter(filter);
    }
    function MuchBottledSearchData() {
        return {
            promoteName: $("#promoteName").val(),
            startStartTime: $("#promoteStartStartTime").val(),
            startEndTime: $("#promoteStartEndTime").val(),
            endStartTime: $("#promoteEndStartTime").val(),
            endEndTime: $("#promoteEndEndTime").val()
        };
    }

    //上传图片
    function onSuccess1(e) {
        if (e.operation == "upload") {
            $("#hifPic1").val(e.files[0].name);
        }
        else if (e.operation == "remove") {
            $("#hifPic1").val("");
        }
    }
    function onSuccess2(e) {
        if (e.operation == "upload") {
            $("#hifPic2").val(e.files[0].name);
        }
        else if (e.operation == "remove") {
            $("#hifPic2").val("");
        }
    }
    function onSuccess3(e) {
        if (e.operation == "upload") {
            $("#hifPic3").val(e.files[0].name);
        }
        else if (e.operation == "remove") {
            $("#hifPic3").val("");
        }
    }
    function onSuccess4(e) {
        if (e.operation == "upload") {
            $("#hifPic4").val(e.files[0].name);
        }
        else if (e.operation == "remove") {
            $("#hifPic4").val("");
        }
    }
    function onSuccess5(e) {
        if (e.operation == "upload") {
            $("#hifPic5").val(e.files[0].name);
        }
        else if (e.operation == "remove") {
            $("#hifPic6").val("");
        }
    }
    function onSuccess6(e) {
        if (e.operation == "upload") {
            $("#hifPic6").val(e.files[0].name);
        }
        else if (e.operation == "remove") {
            $("#hifPic6").val("");
        }
    }
    //清除多瓶装规则
    function CleanerMuchButtled(n) {
        $("#property" + n).val(""); //名称
        $("#num" + n).data("kendoNumericTextBox").value(""); //数量
        $("#price" + n).data("kendoNumericTextBox").value("");//价格

        $("#hifPic" + n).val(""); //图片路径
        
        if ($("#isDefault" + n)[0].checked&& n != 1) {
            $("#isDefault" + n).removeAttr("checked");
            $("#isDefault1")[0].checked = true; //默认第一个
        }
        
        document.getElementById("totalPrice" + n).innerHTML = "0.00";
        document.getElementById('favorablePrice' + n).innerHTML = "0.00";
    }

    function CheckProduct() {
        BottledTotalPrice();
    }

    function BottledTotalPrice(n) {
        document.getElementById("totalPrice" + n).innerHTML = "0.00";
        document.getElementById("favorablePrice" + n).innerHTML = "0.00";
        CalculateActualPrice();
        var intNum = parseInt($("#num" + n).val());
        var floatPrice = parseFloat($("#price" + n).val());
        var gjwPrice = parseFloat($("#gjwprice").val());
        if (intNum > 0 && floatPrice > 0) {
            document.getElementById("totalPrice" + n).innerHTML = intNum * floatPrice;
            document.getElementById("favorablePrice" + n).innerHTML = intNum * (gjwPrice - floatPrice);
        }
    }
    // 获取设置的商品gjw价格
    function CalculateActualPrice() {
        var dataItems = $("#ProductGrid").data("kendoGrid").dataSource.data();
        var productID;
        $("input[name=selectproduct]").each(function () {
            var $item = $(this);
            if ($item[0].checked) {
                productID = $item.val();
            }
        });
        $(dataItems).each(function() {
            if (this.ID == productID) {
                $("#gjwprice").val(this.GoujiuPrice);
            }
        });
    }
    //添加多瓶装促销
    function AddMuchBottled() {
        var pro = 0, num = 0, pri = 0;

        var productID = "";
        var gjwPrice = $("#gjwprice").val();
        var promoteName = $("#muchBottledName").val();
        var isOnlinePayment = $("#chk_PayOnline")[0].checked;
        var startTime = $("#StartTime").val();
        var endTime = $("#EndTime").val();
        var isDisplayTime = $("#chk_ShowTime")[0].checked;
        var property = "";
        var number = "";
        var price = "";
        var imgstr = "";
        var isDefault = "";
        $("input[name=selectproduct]").each(function () {
            var $item = $(this);
            if ($item[0].checked) {
                productID = $item.val();
            }
        });

        $("input[name=property]").each(function () {
            var $item = $(this);
            var txtproperty = $item.val().replace(' ', '');
            if (txtproperty != "") {
                if (txtproperty.length >20 ) {
                    alert("属性名称的长度超过范围");
                    return false;
                }
                property += txtproperty + ",";
                pro++;
            }
        });
        $("input[name=num]").each(function () {
            var $item = $(this);
            var txtnumber = $item.val().replace(' ', '');
            if (txtnumber != "") {
                number += txtnumber + ",";
                num++;
            }
        });
        $("input[name=price]").each(function () {
            var $item = $(this);
            var txtprice = $item.val().replace(' ', '');
            if (txtprice != "") {
                price += txtprice + ",";
                pri++;
            }
        });

        for (var i = 1; i <= pri; i++) {
            imgstr += $("#hifPic" + i).val() + ",";
            if ($("#isDefault" + i)[0].checked) {
                isDefault += "1,";
            } else {
                isDefault += "0,";
            }
        }

        if (productID == "") {
            alert("请选择活动商品！");
            return;
        } if (promoteName=="") {
              alert("请输入活动名称！", function () { $("#muchBottledName").focus(); });
              return;
          } if (promoteName.length > 20) {
              alert("促销活动名称长度超过范围！", function () { $("#muchBottledName").focus(); });
              return;
          } if (startTime == "") {
            alert("请输入活动开始时间！", function () { $("#StartTime").focus(); });
            return;
        } if (endTime == "") {
                alert("请输入活动结束时间！", function () { $("#EndTime").focus(); });
                return;
        }if (pro == 0) {
            alert("填写错误! 最少设置一条多瓶装属性记录");
        }if (pro != num || num != pri) {
            alert("填写错误! 多瓶装属性，数量，价格输入要匹配");
        }

        $.post("promote/AddMuchBottled", {
                productID: productID,
                gjwPrice: gjwPrice,
                promoteName: promoteName,
                isOnlinePayment: isOnlinePayment,
                startTime: startTime,
                endTime: endTime,
                isDisplayTime: isDisplayTime,
                property: property,
                number: number,
                price: price,
                imgstr: imgstr,
                isDefault: isDefault
            },
            function(data) {
                alert(data);
            });
    }
    /**************修改多瓶装*************/
    //显示修改页面
    function ModifyMuchBottled(id) {
        if ($(id).attr("name") != null) {
            var muchBottledID = $(id).attr("name");
            $.get("/promote/GetMuchBottledInfoByID", { muchBottledID: muchBottledID },
                function(data) {
                    $('#defaultDiv').html($("#UpdateMuchBottled").html());
                    $("#UpdatePromoteName").html(data.Name);
                    $("#UpdatePromoteID").val(data.ID);
                    $("#UpdateProductName").html(data.ProductName);
                    $("#Updategjwprice").val(data.GoujiuPrice);
                    $("#UpdateProductID").html(data.ProductID);
                    var datepicker = $("#UpdateStartTime").data("kendoDatePicker");
                    datepicker.value(data.StartTime);
                    datepicker.enable(false);
                    $("#UpdateEndTime").data("kendoDatePicker").value(data.EndTime);
                    $("#Updatechk_PayOnline")[0].checked = data.IsOnlinePayment;
                    $("#Updatechk_ShowTime")[0].checked = data.IsDisplayTime;
                    $(data.PromoteMuchBottledRuleModels).each(function(key) {
                        var Updateproperty = $("input[name='Updateproperty']");
                        $(Updateproperty[key]).attr("value", data.PromoteMuchBottledRuleModels[key].Name);

                        var Updatenum = $("input[name='Updatenum']");
                        $(Updatenum[key]).data("kendoNumericTextBox").value(data.PromoteMuchBottledRuleModels[key].Quantity);

                        var Updateprice = $("input[name='Updateprice']");
                        $(Updateprice[key]).data("kendoNumericTextBox").value(data.PromoteMuchBottledRuleModels[key].UnitPrice);

                        var temp = Number(key) + 1;
                        $("#UpdatetotalPrice" + temp).html(data.PromoteMuchBottledRuleModels[key].TotalMoney);
                        $("#UpdatefavorablePrice" + temp).html(data.PromoteMuchBottledRuleModels[key].DiscountAmount);
                    });
                });
        }
    }
    function UpdateBottledTotalPrice(n) {
        document.getElementById("UpdatetotalPrice" + n).innerHTML = "0.00";
        document.getElementById("UpdatefavorablePrice" + n).innerHTML = "0.00";
            
        var intNum = parseInt($("#Updatenum" + n).val());
        var floatPrice = parseFloat($("#Updateprice" + n).val());
        var gjwPrice = parseFloat($("#Updategjwprice").val());
        if (intNum > 0 && floatPrice > 0) {
            document.getElementById("UpdatetotalPrice" + n).innerHTML = intNum * floatPrice;
            document.getElementById("UpdatefavorablePrice" + n).innerHTML = intNum * (gjwPrice - floatPrice);
        }
    }
    function UpdateonSuccess1(e) {
        if (e.operation == "upload") {
            $("#UpdatehifPic1").val(e.files[0].name);
        }
        else if (e.operation == "remove") {
            $("#UpdatehifPic1").val("");
        }
    }
    function UpdateonSuccess2(e) {
        if (e.operation == "upload") {
            $("#UpdatehifPic2").val(e.files[0].name);
        }
        else if (e.operation == "remove") {
            $("#UpdatehifPic2").val("");
        }
    }
    function UpdateonSuccess3(e) {
        if (e.operation == "upload") {
            $("#UpdatehifPic3").val(e.files[0].name);
        }
        else if (e.operation == "remove") {
            $("#UpdatehifPic3").val("");
        }
    }
    function UpdateonSuccess4(e) {
        if (e.operation == "upload") {
            $("#UpdatehifPic4").val(e.files[0].name);
        }
        else if (e.operation == "remove") {
            $("#UpdatehifPic4").val("");
        }
    }
    function UpdateonSuccess5(e) {
        if (e.operation == "upload") {
            $("#UpdatehifPic5").val(e.files[0].name);
        }
        else if (e.operation == "remove") {
            $("#UpdatehifPic6").val("");
        }
    }
    function UpdateonSuccess6(e) {
        if (e.operation == "upload") {
            $("#UpdatehifPic6").val(e.files[0].name);
        }
        else if (e.operation == "remove") {
            $("#UpdatehifPic6").val("");
        }
    }

    //清除多瓶装规则
    function UpdateCleanerMuchButtled(n) {
        $("#Updateproperty" + n).val(""); //名称
        $("#Updatenum" + n).data("kendoNumericTextBox").value(""); //数量
        $("#Updateprice" + n).data("kendoNumericTextBox").value(""); //价格
        $("#UpdatehifPic" + n).val(""); //图片路径
        if ($("#UpdateisDefault" + n)[0].checked && n != 1) {
            $("#UpdateisDefault" + n).removeAttr("checked");
            $("#UpdateisDefault1")[0].checked = true; //默认第一个
        }
        document.getElementById("UpdatetotalPrice" + n).innerHTML = "0.00";
        document.getElementById("UpdatefavorablePrice" + n).innerHTML = "0.00";
    }
    //修改多瓶装促销
    function UpdateMuchBottled() {
        var pro = 0, num = 0, pri = 0;

        var muchBottledID = $("#UpdatePromoteID").val();
        var isOnlinePayment = $("#Updatechk_PayOnline")[0].checked;
        var endTime = $("#UpdateEndTime").val();
        var isDisplayTime = $("#Updatechk_ShowTime")[0].checked;
        var goujiuPrice = $("#Updategjwprice").val();
        
        var property = "";
        var number = "";
        var price = "";
        var imgstr = "";
        var isDefault = "";

        $("input[name=Updateproperty]").each(function () {
            var $item = $(this);
            var txtproperty = $item.val().replace(' ', '');
            if (txtproperty != "") {
                property += txtproperty + ",";
                pro++;
            }
        });
        $("input[name=Updatenum]").each(function () {
            var $item = $(this);
            var txtnumber = $item.val().replace(' ', '');
            if (txtnumber != "") {
                number += txtnumber + ",";
                num++;
            }
        });
        $("input[name=Updateprice]").each(function () {
            var $item = $(this);
            var txtprice = $item.val().replace(' ', '');
            if (txtprice != "") {
                price += txtprice + ",";
                pri++;
            }
        });

        for (var i = 1; i <= pri; i++) {
            imgstr += $("#UpdatehifPic" + i).val() + ",";
            if ($("#UpdateisDefault" + i)[0].checked) {
                isDefault += "1,";
            } else {
                isDefault += "0,";
            }
        }

        if (muchBottledID == "") {
            alert("处理失败！");
            return;
        } if (endTime == "") {
              alert("请输入活动结束时间！", function () { $("#UpdateEndTime").focus(); });
              return;
          } if (pro == 0) {
                alert("填写错误! 最少设置一条多瓶装属性记录");
            } if (pro != num || num != pri) {
                  alert("填写错误! 多瓶装属性，数量，价格输入要匹配");
              }

        $.post("promote/ModifyMuchBottled", {
                muchBottledID: muchBottledID,
                isOnlinePayment: isOnlinePayment,
                endTime: endTime,
                isDisplayTime: isDisplayTime,
                goujiuPrice: goujiuPrice,

                property: property,
                number: number,
                price: price,
                imgstr: imgstr,
                isDefault: isDefault
            },
            function(data) {
                alert(data);
            });
    }
    
    function error_handler(e) {
        if (e.xhr.statusCode) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>
